.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }

  @media (min-width: 576px){
 .navbar-expand-sm .navbar-nav .nav-link {
    /* padding: 19px; */
    padding-right: 1.5rem;
    padding-left: .5rem;
}
  }

  .bg-dark {
    background-color: #343a40!important;
    PADDING: 16px;
}